@keyframes loading {
    0% {
        opacity: 1;       
        bottom:0px;
    }
    25%{
        opacity: 0.75;  
        bottom: 20px;
    }
    50%{
        opacity: 0.5;  
        bottom:40px;
    }
    75%{
        opacity: 0.75;  
        bottom:20px;
    }
    100% {
        opacity: 1;      
        bottom: 0px;
    }
  }

  .loading_screen{
    
    animation: loading 1s linear infinite;
}